
<h1 *ngIf=!player.isTurn>{{player.name}}</h1>
<h1 *ngIf=player.isTurn class='curTurn'>{{player.name}}</h1>
<div class='hand'>
    <img (click)='cardClick(card)'
         (mouseover)='cardMouseHover(card)'
         (mouseout)='cardMouseOut(card)'
         *ngFor='let card of player.cards'
         [ngClass]="card.isHovered || isBelongToBlind(card) ? 'cardSize hover': 'cardSize'"
         src={{getCardName(card)}}>
    <div *ngIf='player.cards == null && player.numCards != 0'>
        <img *ngFor='let i of [].constructor(player.numCards)'
              src='../assets/cards/green_back.png'
              class='cardSize'>
    </div> 
</div>
